<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>CX3 Stock App</title>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
  </head>

  <body>
    <header>
      <h1>CX3 Stock App</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>@Copyright CX3 Finance</p>
    </footer>
  </body>
</html>